<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio - Sistema Educativo</title>
</head>

<body>
    <h1>Sistema de Gestión Educativa</h1>

    <h2>Módulos del Sistema:</h2>
    <ul>
        <li>
            <a href="/profesores/">
                <button type="button">Gestionar Profesores</button>
            </a>
        </li>
        <li>
            <a href="/carreras/">
                <button type="button">Gestionar Carreras</button>
            </a>
        </li>
        <li>
            <a href="/materias/">
                <button type="button">Gestionar Materias</button>
            </a>
        </li>
    </ul>
</body>

</html>